<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/takers"></ion-back-button>
    </ion-buttons>
    <ion-title>Available Participants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <h3>You want to edit some participants? Oh, it's on.</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let participant of availableParticipants; let i = index">
            <ion-label>{{ participant.name }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="newParticipant()" expand="block">New Participant</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
