<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/takers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ turnTaker.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-xs="10">
        <p>{{ turnTaker.description }}</p>
      </ion-col>
      <ion-col size-xs="2" text-end>
        <!-- if I end up needing to create my own icon: https://www.joshmorony.com/custom-svg-icons-in-ionic-with-ionicons/ -->
        <ion-button size="small" (click)="displayParticipants($event)">
            <ion-icon name="people"></ion-icon>
        </ion-button>
        <ion-button size="small" [routerLink]="['/takers/edit', turnTaker.id]">
            <ion-icon name="settings"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Next: {{ getNextTurnParticipant().name }}</ion-card-title>
        <ion-card-subtitle>Turn {{ turnTaker.turnsTaken.length + 1 }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid class="ion-padding-bottom">
          <ion-row>
            <ion-item>
              <ion-label position="floating">Note (optional)</ion-label>
              <ion-input type="text" [(ngModel)]="turnNote" ></ion-input>
            </ion-item>
          </ion-row>
        </ion-grid>
        <ion-button color="primary" (click)="onTakeTurn()">Take Turn</ion-button>
        <ion-button color="primary" fill="clear" (click)="onSkipTurn()">Skip Turn</ion-button>
      </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="ion-float-start ion-text-start ion-padding-start">
        Previously: {{ getLastTurnParticipant().name }}
      </ion-col>
      <ion-col class="ion-float-end ion-text-end ion-padding-end">
        After this: {{ getTurnAfterNextTurnParticipant().name }}
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- If for some reason you end up using slider after all: -->
  <!-- Look at this for adding nav buttons: https://forum.ionicframework.com/t/navigation-arrows-on-slider/119081 -->
  <!-- And maybe this: https://www.freakyjolly.com/ionic-4-multiple-slides-on-single-view-using-swiper-slider/ -->

  <h3 class="ion-padding-top ion-padding-start">Turn history</h3>
  <ion-virtual-scroll [items]="turnTaker.turnsTaken" approxItemHeight="70px">
    <ion-item *virtualItem="let turn; let i = index">
      <!-- <ion-thumbnail slot="start">
        <ion-img [src]=""></ion-img>
      </ion-thumbnail> -->
      <ion-label>
        <p>Turn {{ turnTaker.turnsTaken.length - i}}: {{ getParticipantName(turn.participantId) }} <span color="warning" *ngIf="turn.skipped">- SKIPPED</span></p>
        <p>{{ turn.dateTime | date:'short' }}</p>
        <p *ngIf="turn.note">Note: {{ turn.note }}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
  <div *ngIf="!turnTaker.turnsTaken || turnTaker.turnsTaken.length <= 0" class="ion-padding-start">
    No turns taken yet
  </div>

</ion-content>
