<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/takers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ turnTaker.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>This is the 'taker' with a id of {{ turnTaker.id }}</p>

  <ion-slides pager="true" [options]="slideOpts">

      <ion-slide *ngFor="let turn of turnTaker.turnsTaken">
          <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Turn {{ turn.index }} of {{ numTurnsTaken }}</ion-card-subtitle>
                <ion-card-title>Participant: {{ turn.participantId }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Some other stuff might go here. Date/time if previous turn? avatar of participant? What else?
              </ion-card-content>
            </ion-card>
      </ion-slide>
  </ion-slides>

  <!-- TODO: Look at this for adding nav buttons: https://forum.ionicframework.com/t/navigation-arrows-on-slider/119081 -->
  <!-- TODO: And maybe this: https://www.freakyjolly.com/ionic-4-multiple-slides-on-single-view-using-swiper-slider/ -->

  <h3>ion virtual scroll will go here, showing full turn history</h3>

</ion-content>
