<ion-header>
  <ion-toolbar>
    <ion-title>TurnTakers</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-virtual-scroll [items]="items" approxItemHeight="320px">
    <ion-item *virtualItem="let item" [routerLink]="['/takers/detail', item.id]" detail>
      <ion-label>
        <h2>{{ item.name }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>

  <div padding>
    <ion-button color="primary" [routerLink]="['/takers/create']" expand="block">New TurnTaker</ion-button>
  </div>
  
</ion-content>
